$maincolor:rgb(128, 0, 19);
$bgcolor:rgb(38, 0, 255);

h1{
    color: $maincolor;
    background-color: $bgcolor;
}
h2{
    color: $maincolor;
    background-color: $bgcolor;
}
h3{
    color: $maincolor;
}